{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
<h1>My To Do List</h1>
<a href="{% url 'task-create' %}">Add task</a>

<form method="GET">
    <label>
        <input type="text" name='search-area' value="{{ search_input }}">
        <input type="submit" value='Search'>
    </label>
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        {% load static %}
        <td> Status:
            {% if task.complete %}
                <img src="{% static 'base/done.png' %}" alt="done" width="20" height="20">
            {% else %}
                <img src="{% static 'base/undone.png' %}" alt="done" width="20" height="20">
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <h3>No items in list!</h3>
    {% endfor %}
</table>
